img {
    width: 35%;
}

.container {
    margin-top: 4rem;
}

/*Detail*/
.card {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.card-header {
    font-size: 0.9rem;
}

.card-body {
    white-space: pre-line;
}

/*List*/
tr:hover td { background-color: #fffef2; cursor: pointer; }

table {
    font-size: 0.9rem;
}

.table td {
    padding : 0.5rem;
}

.name {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

th {
    background: #f4f4f4;
    text-align: center;
}

.rowId, .name {
    text-align: center;
}

.checkA {
    background: #dcf9f5;
    text-align: center;
}
.checkB {
    background: #effced;
    text-align: center;
}
.checkC {
    background: #e1d7ff;
    text-align: center;
}

/*Navbar*/
.btn-secondary {
    background-color: #343a40;
}

