<!DOCTYPE HTML>
<head>
    <title>NEXTERS RECRUIT List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<h1>Views TEST</h1>

<a href="/">/</a>
<br>
<a href="/list/developer">/list/developer</a>
<br>
<a href="/list/designer">/list/designer</a>
<br>
<a href="/designer/4">/designer/4</a>
<br>
<a href="/developer/9">/developer/9</a>

<!--<div authorize="isAuthenticated()">-->
    <!--Name: <span authentication="name">SomeName</span><br />-->
    <!--Principal: <span authentication="principal">PrincipalString</span><br />-->
    <!--Principal.email: <span authentication="principal.email">Email</span><br />-->
    <!--HasRole(USER): <span authorize="hasRole('ROLE_USER')">YES</span><br />-->
    <!--HasRole(ADMIN): <span authorize="hasRole('ROLE_ADMIN')">YES</span>-->
<!--</div>-->
<!--<form action="#" action="/logout" method="post">-->
    <!--<input type="submit" value="Logout" />-->
<!--</form>-->

{{username}}

</body>
</html>