<!DOCTYPE HTML>
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/home.css" rel="stylesheet" media="screen">
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title h2">Developer</h5>
                    <a href="/list/designer">
                        <img src="/img/cpu.svg" href="/list/developer" class="rounded float-left" alt="SVG image">
                    <br/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title h2">Designer</h5>
                    <a href="/list/designer">
                        <img src="/img/edit.svg" class="rounded float-right" alt="SVG image">
                    <br/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>