<!DOCTYPE HTML>
<html>
<head>
    <title>NEXTERS RECRUIT 지원서 확인</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
<h1>NEXTERS RECRUIT 지원서 디자이너 / 개발자</h1>
<h3>디자이너 지원자 목록</h3>
</body>
</html>