<!DOCTYPE HTML>
<html>
<head>
    <title>NEXTERS RECRUIT List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
<h1>NEXTERS RECRUIT 지원 목록 - 개발자</h1>
<h2>개발자</h2>

</body>
</html>