<!DOCTYPE HTML>
<html>
<head>
    <title>NEXTERS RECRUIT List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
<h1>NEXTERS RECRUIT 지원자 상세</h1>
<h2>이름</h2>
<h2>전화번호</h2>
<h2>목록으로 돌아가기</h2>
{{test}}
</body>
</html>